# Speeding up  data load - Pandas dataframe to MSSQL table by 5 times!

In [18]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import datetime
import time

In [32]:
#read data
df = pd.read_csv('train.csv',sep=';')

In [40]:
df.head

<bound method NDFrame.head of        age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]>

#### Syntax to create connection string 
engine = create_engine("mssql+pyodbc://USERNAME:PASSWORD@SERVER/DATABASENAME?driver=SQL+Server+Native+Client+11.0")

In [34]:
#Creating connection string
connection = create_engine('mssql+pyodbc://DESKTOP-EQSVI4T\MSSQLSERVER1/Learnings?driver=SQL+Server+Native+Client+11.0')

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

In [38]:
#push dataframe to SQL server, print time before and after load
print("Data load to SQL server starting : ",datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))
df.to_sql('banking', con=connection, schema='dbo', if_exists='append',index=False)
print("Data load to SQL server end : ",datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))

Data load to SQL server starting :  2022-11-20 23:42:42
Data load to SQL server end :  2022-11-20 23:42:54

#### fast_executemany can boost the performance of executemany operations by greatly reducing the number of round-trips to the server.

In [30]:
#Create connection string with fast_executemany as true
connection_fast = create_engine('mssql+pyodbc://DESKTOP-EQSVI4T\MSSQLSERVER1/Learnings?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)

In [31]:
#push dataframe to SQL server, print time before and after load
print("Data load to SQL server starting : ",datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))
df.to_sql('banking', con=connection_fast, schema='dbo', if_exists='append',index=False)
print("Data load to SQL server end : ",datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))

Data load to SQL server starting :  2022-11-20 23:26:16
Data load to SQL server end :  2022-11-20 23:26:18

In [39]:
banking= pd.read_sql('SELECT * FROM [Learnings].[dbo].[banking]',connection)
banking.head()

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []